table > table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  color: silver;
  font-family: Arial, Helvetica;
}

fieldset {
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

p, li {
  font-family: "Georgia";
  color: whitesmoke;
}

body {
  background-color: salmon;
}

.headline {
  font-family: 'Libre Bodoni', serif;
  font-family: 'Suez One', serif;
  color: navy;
}

.salmon-title {
  font-family: 'Libre Bodoni', serif;
  font-family: 'Suez One', serif;
  color: black;
}

.center {
  text-align: center;
}

.container {
  background-color: slategrey;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#chinook {
  display: block;
  margin: 0 auto;
}

#family {
  height: 200px;
  width: 350px;
}

#three-image-div > img {
  padding: 20px;
}

#about p {
  width: 500px;
  margin: 0 auto;
}

#title {
  color: black;
}

#table-container {
  width: 900px;
  padding: 5px 25px 10px;

}

#sales-title {
  color: silver;
  font-family: Arial, Helvetica;
}

#new-store-form {
  width: 1225px;
  margin: 0 auto;
}

