/* Sales Date Page */

table > table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  color: rgb(9, 17, 156);
  font-family: Arial, Helvetica;
}

fieldset {
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

p, li {
  font-family: "Georgia";
  color: whitesmoke;
}

form {
 
  font-family: 'Quicksand', sans-serif;
  line-height: 150%;
  border: 1px solid black;
  padding: 5px;
  align-items: center;
  text-align: center;
}

button {
  background-color: blue;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  
}

section table{
  justify-items: center;
  font-family: 'Quicksand', sans-serif;
  color: green;
  table-layout: fixed;
  width: 80%;
  border: 1px none;
  border-style: dashed;
  margin: auto;
  padding-bottom: 30px;
}

section td{
  width: 40%;
  text-align: center;
}


.img-salmon {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 


/* For both pages */

body {
  background-color: salmon;
  
}

/* index Homepage */
.headline {
  font-family: 'Libre Bodoni', serif;
  font-family: 'Suez One', serif;
  color: navy;
}

.center {
  text-align: center;
}

.container {
  background-color: slategrey;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#about p {
  width: 500px;
  margin: 0 auto;
}


/* My images */

#chinook {
  display: block;
  margin: 0 auto;
}

#family {
  height: 200px;
  width: 350px;
}

#three-image-div > img {
  padding: 20px;
}

#table-container {
  width: 900px;
  padding: 5px 25px 10px;
}

/* Footer */
footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
  text-align: center;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
  text-align: center;
  
}

aside{
  width: 400px;
  margin: auto;
}

form{
  font-family: 'Quicksand', sans-serif;
  color: #B2B1CF;
  line-height: 150%;
  border: 1px solid black;
  padding: 5px;
  align-items: center;
  text-align: center;
  background-color: white;
} 


legend{
  font-size: larger;
}