table > table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  
}

td, th {
  padding: 5px;
  color: rgb(9, 17, 156);
  font-family: Arial, Helvetica;
}

fieldset {
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

p, li {
  font-family: "Georgia";
  color: whitesmoke;
}

body {
  background-color: salmon;
  
}

#sbody {
  display:flex;
  align-items:center;
  justify-content:center;
}

.headline {
  font-family: 'Libre Bodoni', serif;
  font-family: 'Suez One', serif;
  color: navy;
}

.center {
  text-align: center;
}

.container {
  background-color: slategrey;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#chinook {
  display: block;
  margin: 0 auto;
}

#family {
  height: 200px;
  width: 350px;
}

#three-image-div > img {
  padding: 20px;
}

#about p {
  width: 500px;
  margin: 0 auto;
}

#title {
  color: black;
}

#table-container {
  width: 900px;
  padding: 5px 25px 10px;
  
}

#sales-title {
  color: silver;
  font-family: Arial, Helvetica;
}

#new-store-form {
  width: 1225px;
  margin: 0 auto;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
  text-align: center;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
  text-align: center;
  
}

form {
 
  font-family: 'Quicksand', sans-serif;
  line-height: 150%;
  border: 1px solid black;
  padding: 5px;
  align-items: center;
  text-align: center;
}

button {
  background-color: blue;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  
}

label {
  display:block;
}
input:required + span:after {
  content: "Required";
}

.nav-bar {
  background:#999;
}

.img-salmon {
  padding: 20px;
}

 .salmon-title{

display: flex;
 }
 .salmon-title{

  display: flex;
   }
   .salmon-title{

    display: flex;
     }

     .nav-bar {
      background:#999;
    }
    
